@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Montserrat', sans-serif;
}

div{
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

a{
    color: brown;
}

#pic1, #pic2, #pic3, #pic4, #pic5, #pic6 {
    display: none;
} 

@media screen and (min-width: 850px) {
    #pic1, #pic2, #pic3, #pic4, #pic5, #pic6 {
        display: block;
    } 
}